<div class="top-main">
  <%= link_to "試合記事",choose_top_index_path,class: "game"%>
  <%= link_to "戦力分析",choose_top_index_path,class: "analysis"%>
  <%= link_to "試合予想",choose_top_index_path,class: "expected"%>
</div>