<div id="app">
  <div class="header">
    <transition name="fade">
      <div class="slider-inner" :key="idx" v-for="(slide, idx) in slides" v-if="current_slide == idx">
        <img class="slide-img" v-bind:src="slides[idx].img" :key="slides[idx].img">
      </div>
    </transition>
  </div>
</div>