<div class="contents row mt-2">
  <div class="containe_r p-4">
    <%= form_with model: @map, local: true do |f| %>
    <%= f.text_field :address,placeholder: "住所",class: "game_title",value: "#{@map.address}" %>
    <%= f.collection_select :school_id, @school, :id, :name%>
    <%=f.submit value: "SENT",class: "game_record" %>
  <% end %>
  </div>
</div>