<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path,method: :delete,class: "logout_btn" %>
<% else %>
  <div class="sign_in">
    <%= link_to "ログイン",new_user_session_path, class: "login_btn"%>
    <%= link_to "新規登録",  new_user_registration_path,class: "up_btn"%>
  </div>
<% end %>