<% @tweets.each do |tweet|%>
  <div class="comment">
    <div class="comment-list">
      <div class="title">
      <%= link_to "#{tweet.school_a.name}vs#{tweet.school_b.name}","/tweets/#{tweet.id}",class: "title"%>
      </div>
      <div class="sub-title">
        <%= tweet.title_info %>
      </div>
      <div class="name">
        <%=link_to "投稿者#{tweet.user.nickname}","mypages/#{tweet.user_id}"%>
      </div>
      <div class="tweets_at">
        <%= tweet.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
      </div>
    </div>
  </div>
<% end %>