<div class="text-format mb-5 pt-5 text-warning">
  <% if current_page?(tweets_path) || current_page?(tournament_path)  %>
    みんなの試合記事
  <% else %>
    投稿した試合記事
  <% end %>
</div>
<%= render partial: "tweets/list"%>