<div class="contents row">
  <div class="containe_r">
    <%= form_tag('/tweets', method: :post) do %>
      <h3>
        投稿する
      </h3>
      <input placeholder="タイトル" type="text" name="title">
      <input placeholder="高校A" type="text" name=school_a>
      <input placeholder="高校B" type="text" name=school_b>
      <input placeholder="サブタイトル 30文字以下" type="text" name="title_info">
      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
    <div class="back">
      <%= link_to "戻る",root_path%>
    </div>
  </div>
</div>