<div class="contents row">
  <div class="containe_r">
    <%= form_with model: @tweet, local: true do |f| %>
      <h2>
        投稿する
      </h2>
    <%= render 'layouts/error_messages', model: f.object %>
    <%= render partial: 'form',locals: {f: f} %>
    <% end %>
    <div class="back">
      <%= link_to "戻る",root_path%>
    </div>
  </div>
</div>