 <% @user ||= current_user %>
<div class="stats mb-5">
  <i class="fas fa-user-friends text-info"></i>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followings.count %>
    </strong>
    フォロー
  </a>
  <i class="fas fa-user-friends text-info"></i>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>