<div class="contents row">
  <%= form_with model: @tournament do |f|%>
    <h3>
    登録する
    </h3>
    <%= f.text_field :name,placeholder: "大会名",class: "tournament_name"%>
    <%= f.submit value="SENT",class: "button"%>
  <%end%>
</div>