<div class="wrapper">
  <div class="main-content-btn mt-1">
    <% if user_signed_in? %>
      <%= link_to "投稿する",new_tweet_path,class: "send_btn"%>
    <% end %>
    <% unless current_page?(root_path)%>
      <%= link_to "記事一覧へ戻る",tweets_path,class: "return-btn_watch" %>
    <%end%>
  </div>
</div>
<% if @tweet.present?%>
<div class="text-format text-success mt-1 pt-5">
  <%= @tweet.tournament.name%>
</div>
<% end %>
<%= javascript_pack_tag 'main' %>