<%= link_to "トップページへ戻る",analyses_path,class: "return-top"%>
<div class="go-avg">
  <%=@analysis.name%><br>
  <%= link_to "平均評価を見る",watch_avg_tournament_path,class: "ays-avg" %>
  <p>みんなの集計結果を元にした平均評価を見れます<p>
</div>
<%= render partial: "analyses/show"%>