<div class="text-format mb-5 pt-5 text-warning">
  <% if current_page?(analyses_path) || current_page?(watch_ays_tournament_path)  %>
    みんなの戦力分析
  <% else %>
    投稿した戦力分析
  <% end %>
</div>
<%= render partial: "analyses/list" %>