<div class="contents row">
  <div class="container">
    <%= form_with model: @mypage,local: true do |f|%>
      <%= f.text_area :text, cols: 30 ,rows: 10%>
      <%=f.submit value: "SENT",class: "game_record"%>
    <% end %>
  </div>
</div>