<div class="text-format mb-5 pt-5 text-danger">
  <% if current_page?(forecasts_path) || current_page?(watch_fcs_tournament_path)  %>
    みんなの試合予想
  <% else %>
    投稿した試合予想
  <% end %>
</div>
<%= render partial: "forecasts/list" %>