.analysis_main {
  padding: 0 250px;
}

.content_anali {
  margin-top: 90px;
  background-color: #00FF00
}

.select_main {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.school {
  font-size: 30px;
  text-align: center;
}

.attack_i,.defensive_i,.pitcher_i,.comprehensive_i {
  font-size: 20px;
}

.text {
  margin: 50px 0;
}

/* watch */
.average {
  display: flex;
}

/* new */
.select {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}