.analysis-main,.search-ays {
  width: 100%;
  flex: 1 1 100%;
}

.analysis_header {
  background-image: url("https://pics.prcm.jp/d1c2e60537af9/78615919/jpeg/78615919.jpeg");
}

.data-info {
  background-color: #EEFFFF;
}

.select_main{
  display: flex;
  margin-left: 5%;
  margin-top: 20px;
  justify-content: space-around;
  &-show {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    margin-left: 21%;
  }
}

.attack_i,.defensive_i,.pitcher_i,.comprehensive_i,.expectations_i {
  font-size: 20px;
  margin-right: 10%;
}

#canvas_wrapper{
	width:460px;
	margin:0 auto;
}


.attack,.defensive,.pitcher,.comprehensive,.expectations {
  margin-right: 10px;
}

.font {
  font-size: 20px;
}

.text {
  margin: 50px 0;
}

.ays_delete,.fcs_delete {
  position: absolute;
  top: 20px;
  right: 0;
}

.ays_edit,.fcs_edit {
  position: absolute;
  top: 20px;
  right: 50px;
}

/* watch */
.average {
  display: flex;
}

.ays-avg,.champ {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  margin: 20px 0px 10px;
}

.champ {
  text-align: center;
  margin: 0 auto;
  width: 10%;
  &-btn {
    margin: 0 auto;
    color: white;
    margin-bottom: 2%;
  }
}

/* new */
.select {
  margin-top: 20px;
  display: flex;
  // justify-content: space-evenly;
}

// /*詳細
.school-name-ays {
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
  color: #68ccf9;;
  font-weight: bold;
}

.ays-text {
  font-size: 1.2rem;
}

.school-ays-name {
  margin: 0 auto;
  width: 160px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.sub-title-ays {
  color: black;
  padding-top: 13px;
  font-size: 1.0rem;
}

.reader {
  margin-top: 3%;
  margin-left: 20%;
}

@media screen and (max-width: 966px) {
  .reader {
    width: 800px;
    height: 800px;
  }
  .ays-text {
    min-width: 200px;
  }
}

@media screen and (max-width: 440px) {
  .select_main-show {
    display: block;
    text-align: center;
    margin-left: 0;
  }
  .attack_i,.defensive_i,.pitcher_i,.comprehensive_i,.expectations_i {
    margin-right: 0;
  }
  .comment-form {
    min-width: 250px;
  }
  .reader {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 370px) {
  .school-ays-name {
    width: 80px;
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 350px) {
  .post-content-ays {
    display: block;
  }
  .reader {
    width: 470px;
    height: 470px;
  }
}

@media screen and (max-width: 400px) {
  .avg-reader {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 320px) {
  .avg-reader {
    width: 330px;
    height: 330px;
  }
}

@media screen and (min-width: 350px) {
  .post-content-ays {
    display: flex;
  }
}