.analysis-main {
  padding: 0 250px;
  background-image: url("photo0000-0331.jpg");
  background-size: cover;
  background-color:#ffffff80;
  background-blend-mode:lighten;
  flex: 1 1 100%;
}

.content_anali {
  margin-top: 90px;
  background-color: lime;
  position: relative;
  border: solid 1px rgb(255, 255, 255);
  &-image {
    position: absolute;
    width: 10%;
    font-size: 30px;
  }
  &:hover {
    opacity: 0.5;
  }
}

.select_main,.select_main-show {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.school_ays-name {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.attack_i,.defensive_i,.pitcher_i,.comprehensive_i,.expectations_i {
  margin-right: 70px;
  font-size: 20px;
}

.attack,.defencive,.pitcher,.comprehensive,.expectations {
  margin-right: 10px;
}

.font {
  margin-right: -80px;
  font-size: 20px;
}

.text {
  margin: 50px 0;
}

.ays_delete,.fcs_delete {
  position: absolute;
  top: 20px;
  right: 0;
}

.ays_edit,.fcs_edit {
  position: absolute;
  top: 20px;
  right: 50px;
}

.name_ays,.name-fcs {
  text-align: right;
  padding-bottom: 10px;
}

/* watch */
.average {
  display: flex;
}

.go-avg{
  text-align: center;
}

.ays-avg {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  margin: 20px 0px 10px;
}

/* new */
.select {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

/* show */
.school_name-ays {
  font-size: 30px;
  text-align: center;
  margin-top: 170px;
}

.text-show {
  margin-top: 100px;
}