.school-cp {
  text-align: center;
  font-weight: bold;
}

.champion-content {
  height: 100%;
  background-color: #eef1ba;
  text-align: center;
}

.champion-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 5%;
  font-weight: bold;
}

.cp-tournamet {
  width: 20%;
  background-color: #68ccf9;
  overflow: hidden;
  font-size: 15px;
  margin: 0 auto;
}

#modal {
  text-align: center;
}

.bar {
  margin-top: 3%;
  margin-left: 20%;
}

@media screen and (max-width: 400px) {
  .bar {
    height: 340px;
    width: 340px;
  }
}

// @media screen and (max-height: 700px) {
//   .description {
//     margin-top: 1%;
//   }
// }

// @media screen and (min-height: 700px)  and (max-width: 550px) {
//   .description {
//     margin-top: 35%;
//   }
//   .title-child {
//     margin-bottom: 10%;
//   }
// }

// @media screen and (min-height: 1000px)  and (max-width: 800px) {
//   .description {
//     margin-top: 40%;
//   }
//   .title-child {
//     margin-bottom: 20%;
//   }
// }

// @media screen and (min-height: 1000px)  and (max-width: 1100px) {
//   .description {
//     margin-top: 50%;
//   }
//   .title-child {
//     margin-bottom: 30%;
//   }
// }