.school-cp {
  text-align: center;
  font-weight: bold;
}

.champion-content {
  height: 100%;
  background-color: #eef1ba;
  text-align: center;
}

.champion-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 5%;
  font-weight: bold;
}

.cp-tournamet {
  width: 20%;
  background-color: #68ccf9;
  overflow: hidden;
  font-size: 15px;
  margin: 0 auto;
}

#modal {
  text-align: center;
}

.bar {
  margin-top: 3%;
  margin-left: 20%;
}

@media screen and (max-width: 400px) {
  .bar {
    height: 340px;
    width: 340px;
  }
}