.text-format {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.search-area {
  background-color: white;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
}

.name {
  font-size: 11px;
  margin-bottom: 2px;
  color: black;
}

.title {
  padding-bottom: 5%;
  justify-content: center;
  &-child {
    float: left;
    // background-color: #68ccf9;
    background-color: rgb(195, 194, 194);
    font-weight: bold;
    overflow: hidden;
    font-size: 15px;
  }
}

.sub-title {
  color: black;
  padding-top: 13px;
  font-size: 0.9rem;
}

.school-ays-name {
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.list {
  min-height: 530px;
}

.img1 {
  position: absolute;
  top: 4%;
  left: 5%;
}

.img2 {
  position: absolute;
  top: 72%;
  left: 4%;
}

.img3 {
  position: absolute;
  top: 4%;
  left: 80%;
}

.img4 {
  position: absolute;
  top: 60%;
  left: 80%;
}