.main-content {
  background-color: rgba(236, 236, 206,0.4);
  position: relative;
  &-btn{
    display: flex;
  }
}

.text-format {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.search-area {
  background-color: white;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
}

.name {
  font-size: 10px;
  margin-top: 4px;
  margin-bottom: 2px;
  color: black;
}

.post-time {
  font-size: 10px;
}

.title {
  padding-bottom: 5%;
  justify-content: center;
  &-child {
    float: left;
    // background-color: #68ccf9;
    background-color: rgb(195, 194, 194);
    font-weight: bold;
    overflow: hidden;
    font-size: 15px;
  }
}

.sub-title {
  color: black;
  padding-top: 10px;
  font-size: 0.8rem;
}

.list {
  min-height: 530px;
}

.img1 {
  position: absolute;
  top: 6%;
  left: 5%;
}

.img2 {
  position: absolute;
  top: 72%;
  left: 4%;
}

.img3 {
  position: absolute;
  top: 6%;
  left: 80%;
}

.img4 {
  position: absolute;
  top: 72%;
  left: 80%;
}

.img5 {
  position: absolute;
  top: 40%;
  left: 83%;
}

@media screen and (max-width: 900px) {
  .img1,.img2,.img3,.img4,.img5 {
    display: none;
  }

  .user-icon {
    display: none;
  }
}

.ma {
  display: block;
}

@media screen and (max-width: 500px) {
  .v-btn__content {
    width: 45px;
    font-size: 10px;
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .v-btn__content {
    width: 15px;
    font-size: 10px;
    display: flex;
  }
}

@media screen and (max-width: 530px) {
  img {
    width: 100%;
  }
}