.contact {
  // background-color: #EEEEEE;
  width: 100%;
  display: flex;
  &-main{
    width: 45%;
    margin: 0 auto;
  }
  // &-sent {
  //   margin: 0 auto;
  //   margin-top: auto;
  // }
  // &-return {
  //   margin-left: 48%;
  //   display: inline-block;
  //   font-weight: bold;
  //   padding: 0.25em 0.5em;
  //   color: #00BCD4;
  //   background: #ECECEC;
  //   transition: .4s;
  // }
}

@media screen and (min-width: 200px) {
  .contact-sent {
    min-width: 100px;
    display: flex;
  }
  .btn-primary {
    margin-left: 20px;
    width: 60%;
  }
}

@media screen and (min-width: 500px) {
  .contact-sent {
    max-width: 10%;
    display: inline;
  }
  .btn-primary {
    margin-left: 0px;
    width: 100%;
  }
}


