.school-fcs{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 26px;
  padding-top: 20px;
}

.text_fcs{
  margin: 50px 0;
  padding-bottom: 20px;
}

.win-school_fcs,.lose-school_fcs{
  margin-top: 20px;
  font-size: 25px;
}

.content-fcs {
  border: solid 1px rgb(255, 255, 255);
  margin-top: 90px;
  background-color: #FFAD90;
  &:hover {
    opacity: 0.7;
  }
}

.forecasts-main {
  padding: 0 250px;
  background-image: url("sky_00148.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  height: 100%;
  flex: 1 1 100%;
}

.win-rate {
  margin-top: 30px;
  text-align: center;
}

.Pie {
  display: flex;
}

.fcs-text {
  width: 100%;
}