.school-fcs{
  display: flex;
  justify-content: space-evenly;
  font-size: 1.0rem;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.text_fcs{
  margin: 50px 0;
  padding-bottom: 20px;
}

.forecast-icon {
  width: 143px;
  height: 143px;
  border: 1.8px solid  rgb(192, 189, 189);
}

.forecast-main {
  flex: 1 1 100%;
}

.search-fcs {
  background-image: image-url("sky_00148.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  min-height: 100%;
}

.win-rate {
  margin-top: 30px;
  text-align: center;
}

.fcs-text {
  font-size: 1.2rem;
}

.pie {
  margin-left: 29%;
}

.win-school,.lose-school {
  font-size: 27px;
}

.select-school-fcs {
  display: flex;
}

.win-rate {
  width: 100px;
}

@media screen and (max-width: 900px) {
  .forecast {
    text-align: center;
    background-color: #f3f3f3;
    border: solid 1px rgb(255, 255, 255);
  }
}

@media screen and (min-width: 900px) {
  .forecast {
    width: 400px;
    text-align: center;
    background-color: #f3f3f3;
    border: solid 1px rgb(255, 255, 255);
  }
}

@media screen and (max-width: 520px) {
  .pie {
    width: 500px;
    height: 300px;
  }
}

@media screen and (max-width: 370px) {
  .post-content-fcs {
    display: block;
  }
}

@media screen and (min-width: 370px) {
  .post-content-fcs {
    display: flex;
  }
}

@media screen and (max-width: 360px) {
  .pie {
    width: 360px;
    height: 80%;
  }
}

// 投稿
@media screen and (max-width: 700px) {
  .select-school-fcs {
    display: block;
    margin-left: -80px;
  }
  .select-fcs-school-edit {
    min-width: 130px;
    margin-left: 20px;
  }
  .select-school-fcs-edit {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  .select-school-fcs,.select-school-fcs-edit {
    display: flex;
  }
}