.myname,.residence,.myprof,.dm {
  text-align: center;
}

.myname {
  font-size: 30px;
  position: relative;
}

.text-myname,.residence {
  margin-top: 80px;
}

.text-myname,.my-links,.dm {
  margin-bottom: 50px;
}

.mypage-content {
  background-color: #EEFFFF;
  // height: 100%;
  padding-top: 10px;
}

.myprof {
  position: relative;
}

.my-links {
  position: absolute;
  top: 0;
  left: 10px;
  display:flex;
  flex-flow: column;
}

.my-link {
  // background-color: rgb(184, 184, 184);
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: solid 2px rgb(189, 189, 201);
}

.follow-user,.unfollow-user {
  width: 250px;
  margin: 0 auto;
}

.follow-btn {
  color:rgb(13, 150, 241);
  background-color: white;
  border-radius: 9999px;
  font-weight: bold;
  border-color: rgb(13, 150, 241);
}

.unfollow-btn {
  color: white;
  background-color: rgb(13, 150, 241);
  border-radius: 9999px;
  font-weight: bold;
}

.dm-btn {
  width: 10%;
  margin: 0 auto;
  background-color: blue;
}

.dm-btn2 {
  width: 10%;
  color: #EEFFFF;
  margin: 0 auto;
  text-align: center;
}

.stats {
  margin-top: 20px;
  text-align: center;
}

.tab {
  color: White;
  background: rgb(184, 183, 183);
  margin-right: 5px;
  padding: 3px 12px;
  &-switch {
    display: none;
  }
}

.tab-switch:checked + .tab {
  background: DeepSkyBlue;
}

.my-post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.my-article,.my-forecast,.my-analysis {
  width: 560px;
  max-width: 100%;
  margin-left: 10%;
  border: solid 1px white;
  height: auto;
}

.my-article {
  background-color: #68ccf9;
}

.my-forecast {
  background-color: #FFAD90;
}

.my-analysis {
  background-color: lime;
}