.myname,.residence,.myprof,.dm {
  text-align: center;
}

.myname {
  font-size: 30px;
  position: relative;
}

.text-myname,.residence {
  margin-top: 80px;
}

.text-myname,.my-links,.dm {
  margin-bottom: 50px;
}

.mypage-content {
  background-color: #EEEEEE;
  height: 100%;
  padding-top: 10px;
}

.myprof {
  position: relative;
}

.my-links {
  position: absolute;
  top: 0;
  left: 10px;
  display:flex;
  flex-flow: column;
}

.my-link {
  // background-color: rgb(184, 184, 184);
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: solid 2px rgb(189, 189, 201);
}

.follow-user,.unfollow-user {
  width: 250px;
  margin: 0 auto;
}

.follow-btn {
  background-color: palevioletred;
}

.unfollow-btn {
  background-color: rgb(105, 171, 216);
}

.stats {
  margin-top: 20px;
  text-align: center;
}