.row{
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
}

.contents{
  text-align: center;
}

h3{
  text-align: center;
}

.btn{
  margin-top: 30px;
  display: block;
}

.container{
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
}

.field{
  margin-top: 20px;
}

textarea{
  height: 200px;
}

.game_record{
  background-color: #57c3e9;
}

.back{
  margin-top: 20px;
  text-decoration: none;
  color: black;
  display: block;
}

a{
  text-decoration: none;
  color: black;
}

.game_record,.game_title{
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

textarea{
  margin-top: 20px;
  width: 100%;
}


input{
  font-size: 20px;
}

.input-box_image_file{
  display: none;
}

.fa{
  font-size: 25px;
  margin-top: 10px;
}

.fa:hover{
  opacity: 0.5;
}

.tournament_select{
  margin-top: 20px;
  width: 30%;
}