.user-view {
  margin-top: 30px;
}

.users-index {
  // flex: 1 1 100%;
  text-align: center;
  margin: 0 auto;
}

.notification {
  background-color: #EEFFFF;
  &-info {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
}

