.game_result{
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

.delete-article,.edit-article,.return-top{
  border: 2px solid #57e963;
  color: #57e963;
  padding: 5px;
}

.sub_title{
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  background-color: #CCCC;
}

.texts{
  margin: 50px 0 0 50px;
  font-size: 20px;
  line-height: 2.5em;
}

.image{
  margin-top: 120px;
  text-align: center;
  /* box-shadow: 0 0 10px rgba(41,41,41,0.2); */
  border-bottom: solid 2px rgb(221, 215, 203);
}

a:hover{
  opacity: 0.5;
}

input{
  width: 100%;
  text-align: center;
}

.comment_container{
  margin: 0 auto;
  padding: 30px;
  width: 50%;
  background-color: #CCFFFF;
}

.comment_at{
  color: #33CC99;
  margin-bottom: 20px;
}

.comment_delete_button
{
  display: inline-block;
  padding: 0.1em 0.5em;
  text-decoration: none;
  color: #ff7e67;
  border: double 4px #0aaee0;
  border-radius: 3px;
  transition: .4s;
  font-size: 15px;
  margin-top: 10px;
}

.comment_delete_button:hover{
  background: #fffbef;
}