.game_result {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

.edit-article,.return-btn,.return-top,.return-btn_watch {
  padding: 5px;
  color: #fff;
  border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 0;
  background: #11a37f;
  &:hover {
    color: #fff;
  }
}

.delete-btn {
  padding: 5px;
  color: #fff;
  border-top: 4px solid #f07373;
  border-right: 4px solid #ca0b05;
  border-bottom: 4px solid #ca0b05;
  border-left: 4px solid #f07373;
  border-radius: 0;
  background: #eb4b46;
}

.sub_title {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  border: solid 1px #cececd;
  background-color: #68ccf9;
}

.show-text {
  display: inline-block;
  margin: 0 0 0 50px;
  font-size: 20px;
  line-height: 2.5em;
}

.image {
  margin: 120px 0 0 20px;
}

a:hover {
  opacity: 0.5;
}

input {
  width: 100%;
  text-align: center;
}

.comment {
  text-align: center;
  &-form {
    margin: 0 auto;
    padding: 30px;
    width: 50%;
  }
  &-content {
    background-color: rgba(236, 236, 206,0.4);
  }
  &-user {
    font-size: 15px;
    text-decoration: underline;
  }
  &_delete-button {
    padding: 3px;
    text-decoration: none;
    color: #ff7e67;
    border: solid 1.5px #0aaee0;
    border-radius: 3px;
    transition: .4s;
    font-size: 14px;
    margin: 20px 0 0 40px;
    &:hover {
      background: #fffbef;
    }
  }
}

.good,.good-after {
  background-color: white;
  border: 2px solid white;
  color: #C0C0C0;
}

.good:hover + .fukidashi {
  display: block;
}