/* トップ画面 */
*{box-sizing: border-box;}
.header{
  text-align: center;
  font-size: 40px;
  height: 110px;
  padding-top: 30px;
  border-bottom: solid 3px grey;
  position: relative;
}

.image_1{
  position: absolute;
  left: 30%;
  bottom: 5%;
}

.image_2{
  position: absolute;
  margin-top: 10px;
}

.image_3{
  position: absolute;
  right: 0;
}

.image_4{
  margin: 30px 0 0 660px;
}

.send_btn,.logout_btn{
  font-size: 20px;
  position: absolute;
  left: 0;
  text-decoration: none;
  border: 2px solid #57c3e9;
  color: #57c3e9;
  padding: 5px;
}

.logout_btn{
  margin-left: 10%;
}

html{
  background-color: rgb(233, 243, 242);
}

.comment-list{
  margin-top: 90px;
  background-color: #bbb8b8f3;
  font-size: 25px;
  text-align: center;
}

.comment{
  padding: 0 250px;
}

.title{
  text-decoration: none;
  color: rgb(17, 0, 255);
}

.title:hover{
  color: red;
}

.sub-title{
  padding-top: 20px;
  font-size: 18px;
}

.tweets_at{
  font-size: 11px;
  margin-top: 10px;
  padding-left: 790px;
}

.pagination{
  font-size: 20px;
  margin-left: 45%;
  margin-top: 30px;
  color: red;
}

.user_name{
  position: absolute;
  margin: 60px 20px 20px;
}
/* ログイン 新規登録 ログアウト ボタン */

.login_btn{
  display: block;
  font-size: 18px;
  border: 2px solid #6de957;
  padding: 5px; 
  position: absolute
}

.login_btn:hover{
  opacity: 0.5 ;
}

.up_btn{
  display: block;
  font-size: 18px;
  border: 2px solid #e9ce57;
  padding: 5px; 
  position: absolute;
  margin-left: 8%;
}

.up_btn:hover{
  opacity: 0.5;
}

h2{
  margin: 10px 0;
  text-align: center;
  font-size: 25px;
}

/* 検索 */
.search-form{
  width: 30%;
  margin: 0 auto;
  padding-top: 50px;
}