*{box-sizing: border-box;}
.header{
  text-align: center;
  font-size: 40px;
  height: 110px;
  padding-top: 30px;
  border-bottom: solid 3px grey;
  position: relative;
}

.send_btn{
  font-size: 20px;
  position: absolute;
  left: 0;
  text-decoration: none;
  border: 2px solid #57c3e9;
  color: #57c3e9;
  padding: 5px;
}

.comment-list{
  margin-top: 100px;
  background-color: #8dabb6;
  font-size: 35px;
  text-align: center;
}

.title{
  text-decoration: none;
  color: rgb(17, 0, 255);
}

.title:hover{
  color: red;
}

.sub-title{
  padding-top: 20px;
  font-size: 25px;
}