.top {
  background-image: image-url("top.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  &-menu {
    text-align: center;
    padding: 10px 30px;
    background-color: #66ccff;
  }
  &-title {
    margin-top: 90px;
    // color: white;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: #136FFF;
    text-shadow:1px 1px 0 rgb(255, 255, 255), -1px -1px 0 #FFF,
                -1px 1px 0 #FFF, 1px -1px 0 #FFF,
                0px 1px 0 #FFF,  0-1px 0 #FFF,
                -1px 0 0 #FFF, 1px 0 0 #FFF;
  }
  &-header {
    font-size: 15px;
    min-height: 70px;
    width: 100%;
    position: relative;
    background-color: #003366;
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) {
  .top-menu-list {
    width: 70%;
    padding-top: 100px;
    display: flex;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: bold;
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  .top-menu-list {
    width: 70%;
    padding-top: 100px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: bold;
    justify-content: space-between;
  }
  .top-menu {
    margin-top: 10%;
  }
}