.return {
  border: 2px solid #57e963;
  color: #57e963;
  padding: 7px 30px;
  margin-left:  30px;
  display: inline-block;
}

// 記事
@media screen and (max-width: 679px) {
  .article-image {
    position: static;
  }
  .name {
    margin-top: 20px;
  }
}

@media screen and (min-width: 680px) {
  .article-image {
    position: absolute;
  }
}

// 分析
.average {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  &-content {
    min-height: 100%;
    background-color: #EEFFFF;
  }
}

.avg-font {
  margin-left: 12%;
  font-size: 1.0rem;
}

.avg-attack,.avg-defense,.avg-pitch,.avg-total,.avg-expec {
  font-size: 1.0rem;
}

.avg-name {
  font-size: 30px;
  margin-top: 5%;
  text-align: center;
  color: #68ccf9;;
  font-weight: bold;
}

.go-avg {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}

// .tournament-main{
//   // background-image: image-url("sky.jpg");
//   //  background-size: cover;
//   //  background-color:rgba(255,255,255,0.8);
//   //  background-blend-mode:lighten;
//   //  flex: 1 1 100%;
//   //  min-height: 900px;
// }

@media screen and (max-width: 679px) {
  .analysis-image {
    position: static;
  }
  .name {
    margin-top: 20px;
  }
}

@media screen and (min-width: 680px) {
  .analysis-image {
    position: absolute;
  }
}

// 予想
@media screen and (min-width: 890px) {
  .fcs-icon {
    width: 10%;
    position: absolute;
  }
}