/* トップ画面 */
*{box-sizing: border-box;}
.header,.analysis_header {
  font-size: 40px;
  height: 300px;
  /* border-bottom: solid 3px grey; */
  position: relative;
  background-size: cover;
  background-position: center center;
}

.header {
  background-image: url("81573810.jpeg");
  line-height: 300px;
}

.analysis_header {
  background-image: url("https://pics.prcm.jp/d1c2e60537af9/78615919/jpeg/78615919.jpeg");
}

.images {
  display: flex;
  padding-top: 80px;
}

.image_1 {
  position: absolute;
  left: 30%;
  bottom: 5%;
}

.image_2 {
  position: absolute;
  margin-top: 10px;
}

.image_3 {
  position: absolute;
  right: 0;
}

.image_4 {
  margin: 0 auto;
}

.main-content {
  margin-top: 20px;
  &-btn{
    display: flex;
  }
}

.return-top {
  margin-left: 100px;
}

.text-format{
  margin-top: 150px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: rgb(241, 206, 4);
}

.tournament-info {
  color: #68ccf9;
}

.article {
  position: relative;
  margin: 0 250px;
  &-list {
    margin-bottom: 70px;
    background-color: #68ccf9;
    font-size: 25px;
    text-align: center;
  }
  &-title {
    color: white;
  }
  &-image {
    position: absolute;
    width: 7.7%;
    height: 100%;
    background-image: url("04528d896c142111f9ad8f83522bb05d76dbf17a.png");
    background-size: contain;
  }
  &-info {
    margin-top: 150px;
    margin-bottom: 40px;
  }
  &:hover {
    opacity: 0.7;
  }
}


.by_tournament {
  position: relative;
  left: 35%;
  font-size: 13px;
  background-color: #68ccf9;
}


.sub-title {
  padding-top: 20px;
  font-size: 18px;
}

.tweets_at {
  font-size: 11px;
  margin-top: 10px,0px,0px,auto;
  padding-left: 790px;
}

.name {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: right;
}

.pagination {
  font-size: 20px;
  margin-left: 45%;
  margin-top: 30px;
  color: red;
}

.user_name {
  position: absolute;
  margin: 60px 20px 20px;
}

h2 {
  margin: 10px 0;
  text-align: center;
  font-size: 25px;
}

.article-main {
  background-image: url("sky_00010.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

/* 検索 */
.search {
  width: 30%;
  margin: 0 auto;
  padding-top: 50px;
  &-btn{
    background-color: #68ccf9;
  }
}