/* トップ画面 */
*{box-sizing: border-box;
}
.header,.analysis_header {
  font-size: 40px;
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.header {
  background-size: contain;
}

.slider-inner{
  position: absolute;
  width: 100%;
  height: 300px;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: hidden;
}

.main-content {
  background-color: rgba(236, 236, 206,0.4);
  position: relative;
  // height: 100%;
  &-btn{
    display: flex;
  }
}

.return-top,.return-btn_watch {
  margin-left: 100px;
}

.text-format{
  margin-top: 100px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.tournament-info {
  color: #68ccf9;
}

.article {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #68ccf9;
  text-align: center;
  border: solid 1px rgb(255, 255, 255);
  height: auto;
  &-title {
    font-size: 25px;
    color: white;
  }
  &-image {
    position: absolute;
    width: 10%;
  }
  &-info {
    margin-top: 150px;
    margin-bottom: 40px;
  }
  &:hover {
    opacity: 0.7;
  }
  &-main {
    height: 900px;
    width: 100%;
    background-image: image-url("sky_00010.jpg");
    background-size: cover;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    flex: 1 1 100%;
  }
}

.title {
  margin-left: 32%;
  &-child {
    float: left;
    background-color: #68ccf9;
    overflow: hidden;
    margin-right: 3%;
    font-size: 15px;
  }
}

.sub-title {
  padding-top: 20px;
  font-size: 18px;
}

.tweets_at,.analyses_at {
  font-size: 11px;
  text-align: right;
}

.name {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: right;
}

.pagination {
  font-size: 20px;
  margin-left: 42%;
  margin-top: 30px;
  color: red;
  letter-spacing: 0.15em;
}

.user_name {
  position: absolute;
  margin: 60px 20px 20px;
}

/* 検索 */
.search {
  width: 30%;
  margin: 0 auto;
  padding-top: 50px;
  &-btn{
    background-color: #68ccf9;
  }
}
// 詳細 大会別
#wrapper,.contact,.notification-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap {
  min-height: calc(100vh - 900px);
}

.fade-enter-active, .fade-leave-active {
  transition: all 1s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// 詳細
.good,.good-after {
  background-color: white;
  border: 2px solid white;
  color: #C0C0C0;
}

.good:hover + .fukidashi {
  display: block;
}

.game-article {
  position: relative;
  height: 100%;
}
