/* トップ画面 */
*{box-sizing: border-box;
}

.analysis:hover {
    text-decoration: none;
}

.header,.analysis_header {
  font-size: 40px;
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.header {
  background-size: contain;
}

.slider-inner{
  position: absolute;
  width: 100%;
  height: 300px;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: hidden;
}

.main-content {
  // background-color: rgba(236, 236, 206,0.4);
  position: relative;
  // height: 100%;
  &-btn{
    display: flex;
  }
}

.return-top,.return-btn_watch {
  margin-left: 100px;
}

.text-format{
  // padding-top: 70px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.tournament-info {
  color: #68ccf9;
}

.article {
  width: 400px;
  height: 140px;
  text-align: center;
  // background-color: #68ccf9;
  background-color: #f3f3f3;
  border: solid 1px rgb(255, 255, 255);
  // height: auto;
  &-title {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  &-image {
    position: absolute;
    width: 10%;
  }
  &-info {
    margin-top: 150px;
    margin-bottom: 40px;
  }
  &:hover {
    opacity: 0.7;
  }
  &-main {
    max-height: 1700px;
    width: 100%;
    // background-image: image-url("sky.jpg");
    // background-size: cover;
    // background-color:rgba(255,255,255,0.8);
    // background-blend-mode:lighten;
    flex: 1 1 100%;
  }
  &-icon {
    width: 140px;
    height: 100%;
    border: 1.8px solid  rgb(192, 189, 189);
  }
}

.search-tweet {
  min-height: 100%;
  width: 100%;
  // background-image: image-url("sky_00010.jpg");
  // background-size: cover;
  // background-color:rgba(255,255,255,0.8);
  // background-blend-mode:lighten;
  flex: 1 1 100%;
}

.sub-title {
  color: black;
  padding-top: 13px;
  font-size: 18px;
}

.tweets_at,.analyses_at {
  color: black;
  font-size: 11px;
  text-align: center;
}

.name {
  font-size: 11px;
  margin-bottom: 2px;
  color: black;
}

.pagination {
  font-size: 20px;
  margin-left: 42%;
  margin-top: 30px;
  color: red;
  letter-spacing: 0.15em;
}

.user_name {
  position: absolute;
  margin: 40px 20px 20px;
}

/* 検索 */
.search {
  width: 30%;
  margin: 0 auto;
  padding-top: 50px;
  &-btn{
    background-color: #68ccf9;
  }
}
// 詳細 大会別
#wrapper,.contact,.notification {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrap {
  min-height: calc(100vh - 900px);
}

.fade-enter-active, .fade-leave-active {
  transition: all 1s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.return-btn {
  margin-left: 0.4%;
}

// 詳細
.good,.good-after {
  border: 2px solid #EEFFFF;
  color: #C0C0C0;
  background-color: #EEFFFF;
}

.good:hover + .fukidashi {
  display: block;
}

.game-article {
  position: relative;
  // height: 100%;
}

.game_result {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

.search-area {
  background-color: white;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
}
