.user {
  margin-top: 10%;
  &-list {
    margin-top: 10%;
    display: flex;
    text-align: center;
    &_name {
      
    }
  }
  &-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid;
    border-color: #acafc3;
  }
  &-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid;
    border-color: #acafc3;
  }
}

.users-content {
  /*word-break: break-all;*/
}