.user {
  &-content {
    background-color: #EEFFFF;
    height: 100vh;
  }
  &-list {
    margin-top: 10%;
    // display: flex;
    text-align: center;
    &_body {
      background-color: white; 
      border: solid #acafc3;
      border-width:  0 1px 1px 1px;
      color: #00CCCC;
    }
    &_name {
      background-color: #00CCCC;
      color: white;
    }
    &-image {
      background-color: white;
      border: solid #acafc3;
      border-width:  1px 1px 0 1px;
    }
  }
  &-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid;
    border-color: #acafc3;
    background-color: white;
  }
  &-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid;
    border-color: #acafc3;
  }
  &-info {
    font-size: 18px;
  }
}

.stats {
  font-size: 18px;
}

.tabs {
  font-size: 15px;
}

.card {
  border: none;
  background-color: #EEFFFF;
  font-weight: bold;
}

.user-name { 
  color: white;
}