<h2>登録済みのユーザー一覧</h2>
<table class="user_admin">
  <% @users.each do |user| %>
    <div class="users">
      <p>id<p>
      <%= user.id %>
      <p>ユーザー名<p>
      <%= user.nickname %>
      <p>作成日時<p>
      <%= user.created_at %>
      <%= link_to "削除","/admin/users/#{user.id}",method: :delete,data: { confirm: '削除しますか？' },class: "ays_deletes"%>
    </div>
  <% end %>
</table>
